apiVersion: apps/v1
kind: Deployment
metadata:
  name: qbittorrent
  namespace: qbittorrent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: qbittorrent
  template:
    metadata:
      labels:
        app: qbittorrent
    spec:
      securityContext:
        fsGroup: 967 # plex
      containers:
        - name: gluetun
          image: ghcr.io/qdm12/gluetun:v3.41.0
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - SYS_MODULE
          env:
            - name: VPN_SERVICE_PROVIDER
              value: "nordvpn"
            - name: VPN_TYPE
              value: "openvpn"
            - name: VPN_RECONNECT
              value: "true"
            - name: OPENVPN_PROTOCOL
              value: "tcp"
            - name: OPENVPN_USER
              valueFrom:
                secretKeyRef:
                  name: qbittorrent
                  key: openvpn_user
            - name: OPENVPN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: qbittorrent
                  key: openvpn_password
            - name: SERVER_COUNTRIES
              value: "Canada"
            - name: BLOCK_IPV6
              value: "on"
            - name: FIREWALL
              value: "on"
            - name: LOG_LEVEL
              value: "info"
            - name: HTTP_CONTROL_SERVER_AUTH_DEFAULT_ROLE
              value: '{"auth":"none"}'
          ports:
            - containerPort: 8000
              name: gluetun-http
            - containerPort: 8085
              name: qbit-web
          livenessProbe:
            httpGet:
              path: /v1/publicip/ip
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 60
            failureThreshold: 3
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /v1/publicip/ip
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 3
        - name: qbittorrent
          image: ghcr.io/linuxserver/qbittorrent:4.6.5
          env:
            - name: WEBUI_PORT
              value: "8085"
          volumeMounts:
            - mountPath: /downloads
              name: qbittorrent-downloads
            - mountPath: /config
              name: qbittorrent-config
      volumes:
        - name: qbittorrent-config
          hostPath:
            path: /opt/kubernetes/data/qbittorrent/config
        - name: qbittorrent-downloads
          hostPath:
            path: /media/external2tb/k3s/qbittorrent/downloads
---
apiVersion: v1
kind: Service
metadata:
  name: qbittorrent
  namespace: qbittorrent
spec:
  ports:
    - name: http
      port: 8085
      protocol: TCP
      targetPort: 8085
  selector:
    app: qbittorrent
  type: ClusterIP
