---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ports:
      web:
        port: 8000
        expose:
          default: true
        exposedPort: 30080
        hostPort: 30080
        protocol: TCP
      websecure:
        port: 8443
        expose:
          default: true
        exposedPort: 30443
        hostPort: 30443
        protocol: TCP
        tls:
          enabled: true
    service:
      type: LoadBalancer
